# We are using flatten config of eslint and not using prettier
# Disable the default public-hoist-pattern(*-eslint-*, *-prettier-*)
strict-peer-dependencies=true
engine-strict=true
package-manager=pnpm
registry=https://registry.npmjs.org/
cache=./.pnpm-cache